## Aliases:
alias ls='lsd'
alias ll='ls -l'
alias la='ls -la'
alias lll='ls -la'
alias lt='ls --tree'
alias eamcs='emacs'
alias emcas='emacs'
alias celar='clear'
alias lcear='clear'
alias prof='emacs ~/.zshrc; source ~/.zshrc;'
alias profile='prof'
alias aliases='emacs ~/.aliases; source ~/.aliases'
alias reprof='source ~/.zshrc'
alias shell='emacs ~/.starship; source ~/.zshrc'
alias j='jobs'
alias aireplay-ng='/Users/alex/prog/misc/aircrack-ng-1.2-rc4/src/aireplay-ng'
alias traceroute='grc traceroute'
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'
#alias python='python3'
#alias pip='pip3'
alias whoamip='ipconfig getifaddr en0'
alias netstar='echo `whoamip` | sed -E "s/\.+[0-9]+$/\.\*/"'
#alias netlist = echo `netstar` | ruby -ne '(1..255).each {|i| print $_.gsub("*", i.to_s) }' ## TODO: turn this into an alias somehow
#alias scan= echo `netlist` |  xargs -I _ arping -c 1 _
## ipconfig getifaddr en0 | sed -E "s/\.+[0-9]+$/\.\*/" | ruby -ne '(1..255).each {|i| print $_.gsub("*", i.to_s) }' | xargs -I _ arping -c 1 _

alias localhost='whoamip'
alias nmap='grc nmap'
alias whois='grc whois'
alias dig='grc dig'
alias nslookup='grc nslookup'

#alias netlist = echo `netstar` | ruby -ne '(1..255).each {|i| print $_.gsub("*", i.to_s) }' ## TODO: turn this into an alias somehow
alias poke='sudo nmap -PA -Pn -A'
alias discover='poke `netstar`' ## Quick näive network discovery
alias hist='bat ~/.bash_history'
alias m='export BOOKMARK=$PWD; echo "Bookmarked $BOOKMARK"'
alias 'm?'='echo $BOOKMARK'
alias mp='echo $BOOKMARK'
alias cdm='cd $BOOKMARK'
alias mv='mv -v'
alias cp='cp -v'
alias fc='fc -e "emacs"'
alias 'gi tst'='git st'
alias rem='git remote get-url --all origin'
alias b='rake install'
alias br='b && ruby scratch.rb'
alias deft='emacs --eval "(deft)"'
alias clear='ruby -e "100.times {|i| puts }"; clear'
alias pwsqr='pwsqr --offline'
alias fortune='fortune | lolcat'
alias shred='gshred'
alias ls='lsd'
alias ll='ls -l'
alias la='ls -la'
alias lll='ls -la'
alias lt='ls --tree'
alias eamcs='emacs'
alias emcas='emacs'
alias celar='clear'
alias lcear='clear'
alias prof='emacs ~/.zshrc; source ~/.zshrc;'
alias profile='prof'
alias aliases='emacs ~/.aliases; source ~/.aliases'
alias reprof='source ~/.zshrc'
alias shell='emacs ~/.starship; source ~/.zshrc'
alias j='jobs'
alias aireplay-ng='/Users/alex/prog/misc/aircrack-ng-1.2-rc4/src/aireplay-ng'
alias traceroute='grc traceroute'
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'
#alias python='python3'
#alias pip='pip3'
alias whoamip='ipconfig getifaddr en0'
alias localhost='whoamip'
alias nmap='grc nmap'
alias netstar='echo `whoamip` | sed -E "s/\.+[0-9]+$/\.\*/"'
#alias netlist = echo `netstar` | ruby -ne '(1..255).each {|i| print $_.gsub("*", i.to_s) }' ## TODO: turn this into an alias somehow
alias poke='sudo nmap -PA -Pn -A'
alias discover='poke `netstar`' ## Quick näive network discovery
alias hist='bat ~/.bash_history'
alias m='export BOOKMARK=$PWD; echo "Bookmarked $BOOKMARK"'
alias 'm?'='echo $BOOKMARK'
alias mp='echo $BOOKMARK'
alias cdm='cd $BOOKMARK'
alias mv='mv -v'
alias cp='cp -v'
alias fc='fc -e "emacs"'
alias 'gi tst'='git st'
alias rem='git remote get-url --all origin'
alias b='rake install'
alias br='b && ruby scratch.rb'
alias deft='emacs --eval "(deft)"'
alias clear='ruby -e "100.times {|i| puts }"; clear'
alias pwsqr='pwsqr --offline'
alias fortune='fortune | lolcat'
alias shred='gshred'

alias gigs="grep -E \"^[[:space:]]*[0-9]*\.*[0-9]+G{1}"\"
alias net="emacs ~/net/programs_to_know.txt"
alias ping='grc ping'
alias hping='grc hping'
alias tail='grc tail'
alias 'ps aux'='grc ps aux'
alias fgfg='fg' ## Because I'm silly
alias e='emacs -nw'
alias respects='echo -n 'f' | pbcopy'
