## Aliases:
alias ls='lsd'
alias ll='ls -l'
alias la='ls -la'
#alias ll='ls -Ghla'
#alias ls='ls -G'
alias eamcs='emacs'
alias emcas='emacs'
alias celar='clear'
alias lcear='clear'
alias prof='emacs ~/.bash_profile; . ~/.bash_profile;'
alias profile='prof'
alias j='jobs'
alias aireplay-ng='/Users/alex/prog/misc/aircrack-ng-1.2-rc4/src/aireplay-ng'
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'
alias python='python3'
alias pip='pip3'
alias whoamip='ipconfig getifaddr en0'
alias localhost='whoamip'
alias netstar='echo `whoamip` | sed -E "s/\.+[0-9]+$/\.\*/"'
alias poke='sudo nmap -PA -A'
alias discover='poke `netstar`' ## Quick näive network discovery
alias hist='less ~/.bash_history'
alias m='export BOOKMARK=$PWD; echo "Bookmarked $BOOKMARK"'
alias 'm?'='echo $BOOKMARK'
alias mp='echo $BOOKMARK'
alias cdm='cd $BOOKMARK'
alias mv='mv -v'
alias cp='cp -v'
alias fc='fc -e "emacs"'
alias rem='git remote get-url --all origin'
alias b='rake install'
alias br='b && ruby scratch.rb'
alias deft='emacs --eval "(deft)"'
alias clear='ruby -e "100.times {|i| puts }"; clear'
alias pwsqr='pwsqr --offline'
alias fortune='fortune | lolcat'
alias shred='gshred'
alias sconfig='emacs ~/.config/starship.toml'
alias gigs="grep -E \"^[[:space:]]*[0-9]*\.*[0-9]+G{1}"\"
alias net="emacs ~/net/programs_to_know.txt"
